<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pony_self_service.dao.RefundDAO">

    <select id="getAllRefund" resultType="com.pony_self_service.domain.RefundEntry">
        SELECT `id`,`phone`,`order_id` AS `orderId`,`reason`,`message`,`pic1`,
        `pic2`,`pic3`,`product_id` AS `productId`, `number`,`status`,`time`,`address`
        FROM `refund`
   </select>

</mapper>